.DS_Store
client/node_modules
client/dist
client/.firebase


# local env files
client/.env.local
client/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*


infrastructure/Pulumi.prod.yaml
infrastructure/node_modules
infrastructure/bin

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

config/default.json
.local.env
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
